# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3

# loading data from python.db database
con = sqlite3.connect('data/python.db')

# Read 'school' and 'student' tables into pandas dataframe
school_data = pd.read_sql_query("SELECT * FROM school", con)
student_data = pd.read_sql_query("SELECT * FROM student", con)

In [7]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [43]:
# Create a District Summary
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Overall Passing Rate (%)": [overall_passing_rate],
    "Passing Math Percentage (%)": [passing_math_percentage],
    "Passing Reading Percentage (%)": [passing_reading_percentage]
})

In [13]:
# Total number of schools
total_schools = school_data_complete['school_name'].nunique()

In [37]:
# Total number of students
total_students = school_data_complete['Student ID'].nunique()

In [15]:
# Total budget
total_budget = school_data_complete[['school_name', 'budget']].drop_duplicates()['budget'].sum()

In [27]:
# Average math score
average_math_score = school_data_complete['math_score'].mean()

In [19]:
# Average reading score
average_reading_score = school_data_complete['reading_score'].mean()

In [29]:
# Overall average score
overall_passing_rate = (average_math_score + average_reading_score) / 2

In [39]:
# Percentage of passing math (70 or greater)
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
passing_math_percentage = (passing_math['Student ID'].nunique() / total_students) * 100

In [41]:
# Percentage of passing READING (70 or greater)
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
passing_reading_percentage = (passing_reading['Student ID'].nunique() / total_students) * 100

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [51]:

# Create an overview table that summarizes key metrics about each school
school_summary = school_data_complete.groupby('school_name').agg({
    'Student ID': 'count',
    'budget': 'first',
    'math_score': 'mean',
    'reading_score': 'mean'
})

# Rename the columns for clarity
school_summary.rename(columns={
    'Student ID': 'Total Students',
    'budget': 'Total School Budget',
    'math_score': 'Average Math Score',
    'reading_score': 'Average Reading Score'
}, inplace=True)

# Calculate per-student budget
school_summary['Per Student Budget'] = school_summary['Total School Budget'] / school_summary['Total Students']

# Calculate the percentage of students passing math and reading (>= 70)
passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()

school_summary['% Passing Math'] = (passing_math / school_summary['Total Students']) * 100
school_summary['% Passing Reading'] = (passing_reading / school_summary['Total Students']) * 100

# Calculate overall passing rate
school_summary['Overall Passing Rate'] = (school_summary['% Passing Math'] + school_summary['% Passing Reading']) / 2


# Sort and display the top five schools in overall passing rate
top_schools = school_summary.sort_values(by='Overall Passing Rate', ascending=False).head(5)
print(top_schools)

                     Total Students  Total School Budget  Average Math Score  \
school_name
Cabrera High School            1858              1081356           83.061895
Thomas High School             1635              1043130           83.418349
Pena High School                962               585858           83.839917
Griffin High School            1468               917500           83.351499
Wilson High School             2283              1319574           83.274201

                     Average Reading Score  Per Student Budget  \
school_name
Cabrera High School              83.975780               582.0
Thomas High School               83.848930               638.0
Pena High School                 84.044699               609.0
Griffin High School              83.816757               625.0
Wilson High School               83.989488               578.0

                     % Passing Math  % Passing Reading  Overall Passing Rate
school_name
Cabrera High School       94.133477          97.039828             95.586652
Thomas High School        93.272171          97.308869             95.290520
Pena High School          94.594595          95.945946             95.270270
Griffin High School       93.392371          97.138965             95.265668
Wilson High School        93.867718          96.539641             95.203679

In [55]:
# Calculate total school budget
total_budget_per_school = school_data_complete.groupby('school_name')['budget'].first()

In [61]:
# Calculate per student budget
total_students_per_school = school_data_complete.groupby('school_name')['Student ID'].count()
per_student_budget = total_budget_per_school / total_students_per_school

In [65]:
# Cacluate the avg math and reading score
average_math_score_per_school = school_data_complete.groupby('school_name')['math_score'].mean()
average_reading_score_per_school = school_data_complete.groupby('school_name')['reading_score'].mean()

#### Find the passing rate for math and reading (above 70 points)

In [67]:
# Find the total counts of math result
total_math_results_per_school = school_data_complete.groupby('school_name')['math_score'].count()

# Find the counts for math result in each school that pass 70 or higher
passing_math_per_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()

# Calculate the math passing rate
math_passing_rate_per_school = (passing_math_per_school / total_students_per_school) * 100

In [69]:
# Find the total counts of read result
total_reading_results_per_school = school_data_complete.groupby('school_name')['reading_score'].count()

# Find the counts for read result in each school that pass 70 or higher
passing_reading_per_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()

# Calculate the read passing rate
reading_passing_rate_per_school = (passing_reading_per_school / total_students_per_school) * 100

In [71]:
# Calculate the overall passing rate (average of the math and reading passing rate)
overall_passing_rate_per_school = (math_passing_rate_per_school + reading_passing_rate_per_school) / 2

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [73]:
#  Sort and display the worst five schools in overall passing rate

bottom_schools = school_summary.sort_values(by='Overall Passing Rate', ascending=True).head(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [89]:
# Create table that lists the average math score for each school of each grade level.
# Calculate the average math score for 9th grade in each school


math_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_math_scores,
    "10th Grade": tenth_grade_math_scores,
    "11th Grade": eleventh_grade_math_scores,
    "12th Grade": twelfth_grade_math_scores
})

print(math_scores_by_grade)

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [101]:
# Calculate the average math score for 9th grade in each school
ninth_grade_math_scores = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['math_score'].mean()

In [83]:
# Calculate the average math score for 10th grade in each school

tenth_grade_math_scores = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean()

In [85]:
# Calculate the average math score for 11th grade in each school

eleventh_grade_math_scores = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean()

In [87]:
# Calculate the average math score for 12th grade in each school

twelfth_grade_math_scores = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean()

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [103]:
# Create table that lists the average reading score for each school of each grade level.
reading_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_reading_scores,
    "10th Grade": tenth_grade_reading_scores,
    "11th Grade": eleventh_grade_reading_scores,
    "12th Grade": twelfth_grade_reading_scores
})
print(reading_scores_by_grade)

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [91]:
# Calculate the average reading score for 9th grade in each school
ninth_grade_reading_scores = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean()

In [93]:
# Calculate the average reading score for 10th grade in each school
tenth_grade_reading_scores = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()

In [95]:
# Calculate the average reading score for 11th grade in each school
eleventh_grade_reading_scores = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean()

In [97]:
# Calculate the average reading score for 12th grade in each school
twelfth_grade_reading_scores = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [105]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [107]:
# Create a new column to show budget per student in each row
school_data_complete['Budget per Student'] = school_data_complete['budget'] / school_data_complete['Student ID'].count()

In [109]:
# Create a new column to define the spending ranges per student
school_data_complete['Spending Range (Per Student)'] = pd.cut(school_data_complete['Budget per Student'], bins=spending_bins, labels=group_names)

In [127]:
# Calculate the average math score within each spending range

avg_math_score_by_spending = school_data_complete.groupby('Spending Range (Per Student)', observed=True)['math_score'].mean()

In [129]:
# Calculate the percentage passing rate for math in each spending range

passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
passing_math_by_spending = (passing_math.groupby('Spending Range (Per Student)', observed=True)['Student ID'].count() /
                            school_data_complete.groupby('Spending Range (Per Student)', observed=True)['Student ID'].count()) * 100

In [131]:
# Calculate the percentage passing rate for reading in each spending range
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
passing_reading_by_spending = (passing_reading.groupby('Spending Range (Per Student)', observed=True)['Student ID'].count() /
                               school_data_complete.groupby('Spending Range (Per Student)', observed=True)['Student ID'].count()) * 100

In [135]:
# Calculate the percentage overall passing rate in each spending range
overall_passing_rate_by_spending = (passing_math_by_spending + passing_reading_by_spending) / 2

### Scores by School Size

* Perform the same operations as above, based on school size.

In [137]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [143]:
# Calculate total students per school
total_students_per_school = school_data_complete.groupby('school_name')['Student ID'].count()

# Add total students to each row based on school
school_data_complete = school_data_complete.merge(total_students_per_school.rename("Total Students"), on="school_name")

# Create a new column for the bin groups based on school size
school_data_complete['School Size'] = pd.cut(school_data_complete['Total Students'], bins=size_bins, labels=group_names)

Look for the total count of test scores that pass 70% or higher

In [149]:
# math_pass_size
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
math_pass_size = (passing_math.groupby('School Size', observed=True)['Student ID'].count() /
                  school_data_complete.groupby('School Size', observed=True)['Student ID'].count()) * 100

In [151]:
# read_pass_size
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
read_pass_size = (passing_reading.groupby('School Size', observed=True)['Student ID'].count() /
                  school_data_complete.groupby('School Size', observed=True)['Student ID'].count()) * 100

In [153]:
# Calculate the overall passing rate for different school size
overall_pass_size = (math_pass_size + read_pass_size) / 2

### Scores by School Type

* Perform the same operations as above, based on school type.

In [155]:
# Create bins and groups, school type {'Charter', 'District'}
school_types = school_data_complete.groupby('type')

Find counts of the passing 70 or higher score for the both test

In [157]:

# Find the students passing math by school type (score >= 70)
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]

# Calculate the percentage passing rate for math by school type
math_pass_size = (passing_math.groupby('type')['Student ID'].count() /
                  school_data_complete.groupby('type')['Student ID'].count()) * 100

In [159]:
# Find the students passing reading by school type (score >= 70)
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]

# Calculate the percentage passing rate for reading by school type
reading_pass_size = (passing_reading.groupby('type')['Student ID'].count() /
                     school_data_complete.groupby('type')['Student ID'].count()) * 100

In [161]:
# Calculate the overall passing rate
overall_pass_rate = (math_pass_size + reading_pass_size) / 2